
// Config
// ------------------------------------------------------------------------ //

$input_border_size      : 1 * 1px;
$input_border_color     : $black40;
$input_padding          : $space/3;
$input_bg               : #fff;


// Base style
// ------------------------------------------------------------------------ //

legend {
    margin-bottom: $space/2;
}

// Fix small bullet on Webkit
// http://goo.gl/WgqfpM
input[type="password"] {
    font: small-caption;
    font-size: 1em;
}

// Hide input type number spinner
// http://goo.gl/lcCQgB
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance:textfield;
}

.form__row {
    margin-bottom: $space/2;
}

.form-label {
    display: block;
    margin-top: $space/3;
}

.form-input {
    width: 100%;
    padding: $input_padding;
    border: solid $input_border_size $input_border_color;
    font-family: inherit;
    background: $input_bg;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);

    &:focus {
        border-color: #2669d3;
        outline: none;
    }

    &[disabled] {
        cursor: not-allowed;
    }
}

select.form-input {
    height: 37px;
}


// Modifier
// ------------------------------------------------------------------------ //

.form-input--error {
    border-color: #d32c31;

    &:focus {
        border-color: #d32c31;
    }
}

.form-input--success {
    border-color: #4eb74a;

    &:focus {
        border-color: #4eb74a;
    }
}

.form-input--block {
    width: 100%;
}