/*! [PROJECT_NAME] | Suitmedia */

//  1. Font-face
//  2. Basic styles
//  3. Header
//  4. Page styles
//  5. Footer

@import "partial/normalize";
@import "partial/variables";
@import "partial/resets";
@import "partial/helpers";
@import "partial/print";

@import "mixin/mixin";
@import "modules/modules";
@import "plugin/plugin";

// 1 Font-face
// ------------------------------------------------------------------------ //



// 2 Basic styles
// ------------------------------------------------------------------------ //

html {
    font: 400 $base_font_size $base_font_family;
    line-height: $base_line_height;
}

body {
    color: $black90;
}

a {
    color: $link;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $link_hover;
    }
}

.block {
    margin-bottom: $space;
}

.container {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
}

// 3 Header
// ------------------------------------------------------------------------ //


// 4 Page styles
// ------------------------------------------------------------------------ //
.tab {
    width: 90%;
    margin: 10px auto;
}

.tab-nav {
    display: inline-block;
    padding: 5px 8px;
    background-color: #D9DDDE;
    color: $black;
}  

.tab-panels {
    border: 2px solid #9E9E9E;
} 

.tab-panel {
    margin: 10px 10px;
    display: none;
}

.is-active {
    display: inline-block;
    color: #fff;
    background-color: #9E9E9E;
}

.is-active.tab-panel {
    color: #000;
    background-color: #fff;
}

.empty {
    border: 1px solid #FA0522;
}

.complete {
    border: 1px solid #36FA05;
}

p {
    color: #FA0522;
}

// 5 Footer
// ------------------------------------------------------------------------ //