@charset "UTF-8";
/*! [PROJECT_NAME] | Suitmedia */
/*! normalize.css v3.0.3 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

address {
  font-style: normal;
}

table {
  width: 100%;
}

figure {
  margin: 0 0 1.6em 0;
}

label,
input,
button,
select,
textarea {
  font-family: sans-serif;
}

canvas {
  vertical-align: middle;
}

.browsehappy {
  background: #FFD17D;
  border-bottom: solid 1px #FFCC6F;
  color: #222;
  font-size: .8em;
  margin: 0 0 .2em;
  padding: .4em 0;
  text-align: center;
}

::-moz-selection {
  background: #b3d4fc;
  color: #222;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  color: #222;
  text-shadow: none;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

input[type="search"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.list-nostyle {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-inline > li {
  display: inline-block;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-ellipsis {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.clearfix:after, .table--responsive:after,
.cf:after {
  display: table;
  clear: both;
  content: '';
}

.hidden {
  display: none !important;
}

.visuallyhidden,
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus,
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

h1,
.h1 {
  font-size: 2.36859em;
  line-height: 1.01326em;
  margin: 0 0 0.67551em 0;
}

h2,
.h2 {
  font-size: 1.77689em;
  line-height: 1.35068em;
  margin: 0 0 0.90045em 0;
}

h3,
.h3 {
  font-size: 1.333em;
  line-height: 1.2003em;
  margin: 0 0 1.2003em 0;
}

h4,
.h4 {
  font-size: 1em;
  line-height: 1.6em;
  margin: 0 0 1.6em 0;
}

h5,
.h5 {
  font-size: 0.75019em;
  line-height: 2.1328em;
  margin: 0 0 2.1328em 0;
}

h6,
.h6 {
  font-size: 0.56278em;
  line-height: 2.84302em;
  margin: 0 0 2.84302em 0;
}

p,
ul,
ol,
hr,
table {
  font-size: 1em;
  line-height: 1.6em;
  margin: 0 0 1.6em 0;
}

/*--------------------------------*
    Responsive Table
    structure:
 
    table
    -thead
    --tr
    ---th
    -tbody
    --tr
    ---td

    Available modifier:
    * table--responsive
    * table--zebra
    * table--compact

\*--------------------------------*/
/*table*/
.table {
  text-align: left;
  background: white;
}

.table thead {
  background: #eeeeee;
}

.table thead tr {
  border-top: solid 1px #c6c6c6;
}

.table tr {
  border-bottom: solid 1px #c6c6c6;
}

.table th,
.table td {
  padding: 0.4em;
  border-right: solid 1px #c6c6c6;
}

.table th:first-child,
.table td:first-child {
  border-left: solid 1px #c6c6c6;
}

.table--responsive {
  position: relative;
  display: block;
}

@media screen and (min-width: 48em) {
  .table--responsive {
    display: table;
  }
}

.table--responsive thead {
  display: block;
  float: left;
  border-left: solid 1px #c6c6c6;
}

@media screen and (min-width: 48em) {
  .table--responsive thead {
    float: none;
    display: table-header-group;
    border-left: none;
  }
}

.table--responsive thead tr {
  display: block;
}

@media screen and (min-width: 48em) {
  .table--responsive thead tr {
    display: table-row;
  }
}

.table--responsive tbody {
  position: relative;
  display: block;
  width: auto;
  overflow-x: auto;
  white-space: nowrap;
}

@media screen and (min-width: 48em) {
  .table--responsive tbody {
    display: table-row-group;
    white-space: normal;
  }
}

.table--responsive tbody tr {
  display: inline-block;
  border-top: solid 1px #c6c6c6;
  margin-left: -4px;
}

@media screen and (min-width: 48em) {
  .table--responsive tbody tr {
    display: table-row;
    border-top: none;
  }
}

.table--responsive th,
.table--responsive td {
  display: block;
}

.table--responsive th:first-child,
.table--responsive td:first-child {
  border-left: none;
}

@media screen and (min-width: 48em) {
  .table--responsive th:first-child,
  .table--responsive td:first-child {
    border-left: solid 1px #c6c6c6;
  }
}

@media screen and (min-width: 48em) {
  .table--responsive th,
  .table--responsive td {
    display: table-cell;
  }
}

.table--responsive th + th,
.table--responsive td + td {
  border-top: solid 1px #c6c6c6;
}

@media screen and (min-width: 48em) {
  .table--responsive th + th,
  .table--responsive td + td {
    border-top: none;
  }
}

.table--zebra tbody tr:nth-child(2n) {
  background: #f6f6f6;
}

.table--compact th,
.table--compact td {
  padding: 0.2em 0.4em;
}

.btn {
  display: inline-block;
  padding: 0.53333em 1.6em;
  border: 0;
  font-family: inherit;
  line-height: 1.6em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: #555555;
  background: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.btn:focus {
  outline: none;
}

.btn[disabled] {
  cursor: not-allowed;
}

.btn--block {
  width: 100%;
}

/*! Baze Grid v2.0.2 | (c) 2014 @_bobbylie | https://github.com/ImBobby/Baze-Grid */
.bzg:after {
  display: table;
  clear: both;
  content: '';
}

.bzg {
  margin-left: -25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bzg--no-gutter {
  margin-left: 0;
}

.bzg--no-gutter > .bzg_c {
  padding-left: 0;
}

.bzg_c {
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bzg_c[data-col*="s1"] {
  width: 8.33333%;
}

.bzg_c[data-offset*="s1"] {
  margin-left: 8.33333%;
}

.bzg_c[data-col*="s2"] {
  width: 16.66667%;
}

.bzg_c[data-offset*="s2"] {
  margin-left: 16.66667%;
}

.bzg_c[data-col*="s3"] {
  width: 25%;
}

.bzg_c[data-offset*="s3"] {
  margin-left: 25%;
}

.bzg_c[data-col*="s4"] {
  width: 33.33333%;
}

.bzg_c[data-offset*="s4"] {
  margin-left: 33.33333%;
}

.bzg_c[data-col*="s5"] {
  width: 41.66667%;
}

.bzg_c[data-offset*="s5"] {
  margin-left: 41.66667%;
}

.bzg_c[data-col*="s6"] {
  width: 50%;
}

.bzg_c[data-offset*="s6"] {
  margin-left: 50%;
}

.bzg_c[data-col*="s7"] {
  width: 58.33333%;
}

.bzg_c[data-offset*="s7"] {
  margin-left: 58.33333%;
}

.bzg_c[data-col*="s8"] {
  width: 66.66667%;
}

.bzg_c[data-offset*="s8"] {
  margin-left: 66.66667%;
}

.bzg_c[data-col*="s9"] {
  width: 75%;
}

.bzg_c[data-offset*="s9"] {
  margin-left: 75%;
}

.bzg_c[data-col*="s10"] {
  width: 83.33333%;
}

.bzg_c[data-offset*="s10"] {
  margin-left: 83.33333%;
}

.bzg_c[data-col*="s11"] {
  width: 91.66667%;
}

.bzg_c[data-offset*="s11"] {
  margin-left: 91.66667%;
}

.bzg_c[data-col*="s12"] {
  width: 100%;
}

.bzg_c[data-offset*="s12"] {
  margin-left: 100%;
}

@media screen and (min-width: 40em) {
  .bzg_c[data-col*="m"] {
    margin-left: 0;
  }
  .bzg_c[data-col*="m1"] {
    width: 8.33333%;
  }
  .bzg_c[data-offset*="m1"] {
    margin-left: 8.33333%;
  }
  .bzg_c[data-col*="m2"] {
    width: 16.66667%;
  }
  .bzg_c[data-offset*="m2"] {
    margin-left: 16.66667%;
  }
  .bzg_c[data-col*="m3"] {
    width: 25%;
  }
  .bzg_c[data-offset*="m3"] {
    margin-left: 25%;
  }
  .bzg_c[data-col*="m4"] {
    width: 33.33333%;
  }
  .bzg_c[data-offset*="m4"] {
    margin-left: 33.33333%;
  }
  .bzg_c[data-col*="m5"] {
    width: 41.66667%;
  }
  .bzg_c[data-offset*="m5"] {
    margin-left: 41.66667%;
  }
  .bzg_c[data-col*="m6"] {
    width: 50%;
  }
  .bzg_c[data-offset*="m6"] {
    margin-left: 50%;
  }
  .bzg_c[data-col*="m7"] {
    width: 58.33333%;
  }
  .bzg_c[data-offset*="m7"] {
    margin-left: 58.33333%;
  }
  .bzg_c[data-col*="m8"] {
    width: 66.66667%;
  }
  .bzg_c[data-offset*="m8"] {
    margin-left: 66.66667%;
  }
  .bzg_c[data-col*="m9"] {
    width: 75%;
  }
  .bzg_c[data-offset*="m9"] {
    margin-left: 75%;
  }
  .bzg_c[data-col*="m10"] {
    width: 83.33333%;
  }
  .bzg_c[data-offset*="m10"] {
    margin-left: 83.33333%;
  }
  .bzg_c[data-col*="m11"] {
    width: 91.66667%;
  }
  .bzg_c[data-offset*="m11"] {
    margin-left: 91.66667%;
  }
  .bzg_c[data-col*="m12"] {
    width: 100%;
  }
  .bzg_c[data-offset*="m12"] {
    margin-left: 100%;
  }
}

@media screen and (min-width: 64em) {
  .bzg_c[data-col*="l"] {
    margin-left: 0;
  }
  .bzg_c[data-col*="l1"] {
    width: 8.33333%;
  }
  .bzg_c[data-offset*="l1"] {
    margin-left: 8.33333%;
  }
  .bzg_c[data-col*="l2"] {
    width: 16.66667%;
  }
  .bzg_c[data-offset*="l2"] {
    margin-left: 16.66667%;
  }
  .bzg_c[data-col*="l3"] {
    width: 25%;
  }
  .bzg_c[data-offset*="l3"] {
    margin-left: 25%;
  }
  .bzg_c[data-col*="l4"] {
    width: 33.33333%;
  }
  .bzg_c[data-offset*="l4"] {
    margin-left: 33.33333%;
  }
  .bzg_c[data-col*="l5"] {
    width: 41.66667%;
  }
  .bzg_c[data-offset*="l5"] {
    margin-left: 41.66667%;
  }
  .bzg_c[data-col*="l6"] {
    width: 50%;
  }
  .bzg_c[data-offset*="l6"] {
    margin-left: 50%;
  }
  .bzg_c[data-col*="l7"] {
    width: 58.33333%;
  }
  .bzg_c[data-offset*="l7"] {
    margin-left: 58.33333%;
  }
  .bzg_c[data-col*="l8"] {
    width: 66.66667%;
  }
  .bzg_c[data-offset*="l8"] {
    margin-left: 66.66667%;
  }
  .bzg_c[data-col*="l9"] {
    width: 75%;
  }
  .bzg_c[data-offset*="l9"] {
    margin-left: 75%;
  }
  .bzg_c[data-col*="l10"] {
    width: 83.33333%;
  }
  .bzg_c[data-offset*="l10"] {
    margin-left: 83.33333%;
  }
  .bzg_c[data-col*="l11"] {
    width: 91.66667%;
  }
  .bzg_c[data-offset*="l11"] {
    margin-left: 91.66667%;
  }
  .bzg_c[data-col*="l12"] {
    width: 100%;
  }
  .bzg_c[data-offset*="l12"] {
    margin-left: 100%;
  }
}

legend {
  margin-bottom: 0.8em;
}

input[type="password"] {
  font: small-caption;
  font-size: 1em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form__row {
  margin-bottom: 0.8em;
}

.form-label {
  display: block;
  margin-top: 0.53333em;
}

.form-input {
  width: 100%;
  padding: 0.53333em;
  border: solid 1px #bbbbbb;
  font-family: inherit;
  background: #fff;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.form-input:focus {
  border-color: #2669d3;
  outline: none;
}

.form-input[disabled] {
  cursor: not-allowed;
}

select.form-input {
  height: 37px;
}

.form-input--error {
  border-color: #d32c31;
}

.form-input--error:focus {
  border-color: #d32c31;
}

.form-input--success {
  border-color: #4eb74a;
}

.form-input--success:focus {
  border-color: #4eb74a;
}

.form-input--block {
  width: 100%;
}

/*ul*/
.breadcrumb {
  padding: 0;
  list-style: none;
}

.breadcrumb:after {
  display: table;
  clear: both;
  content: '';
}

.breadcrumb > li {
  position: relative;
  float: left;
}

.breadcrumb > li:before {
  margin: 0 0.8em;
  color: #444;
  content: "→";
}

.breadcrumb > li:first-child:before {
  display: none;
}

/*ul|ol*/
.pagination {
  padding: 0;
  margin: 0 0 1.6em 0;
  list-style: none;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pagination li {
  display: inline-block;
}

.pagination a {
  display: block;
  padding: 0.4em 0.8em;
  border: solid 1px #ddd;
  color: #666;
  background: #eee;
}

.pagination a:hover, .pagination a:focus, .pagination a.active {
  border-color: #555;
  color: #f8f8f8;
  background: #888;
}

.pagination a.active {
  cursor: default;
}

.media:after {
  display: table;
  clear: both;
  content: '';
}

.media__figure {
  float: left;
  margin-right: 0.8em;
}

.media__body {
  overflow: hidden;
}

html {
  font: 400 16px sans-serif;
  line-height: 1.6em;
}

body {
  color: #3c3c3c;
}

a {
  color: #0094ed;
  text-decoration: none;
}

a:hover, a:focus {
  color: #0074ba;
}

.block {
  margin-bottom: 1.6em;
}

.container {
  width: 95%;
  max-width: 960px;
  margin: 0 auto;
}

.tab {
  width: 90%;
  margin: 10px auto;
}

.tab-nav {
  display: inline-block;
  padding: 5px 8px;
  background-color: #D9DDDE;
  color: #222;
}

.tab-panels {
  border: 2px solid #9E9E9E;
}

.tab-panel {
  margin: 10px 10px;
  display: none;
}

.is-active {
  display: inline-block;
  color: #fff;
  background-color: #9E9E9E;
}

.is-active.tab-panel {
  color: #000;
  background-color: #fff;
}

.empty {
  border: 1px solid #FA0522;
}

.complete {
  border: 1px solid #36FA05;
}

p {
  color: #FA0522;
}
